<section class="container px-6 mx-auto">
	<div class="mx-auto relative w-full px-1 py-10 mx-auto">
		<app-shared-title title="SoftSkills"></app-shared-title>
		<div class="grid gap-8 w-full grid-cols-1 md:grid-cols-8 mx-auto">
			<div class="col-span-2">
				<shared-progress [value]="12" text="algo"></shared-progress>
			</div>
			<div class="col-span-2">
				<shared-progress [value]="14"></shared-progress>
			</div>
			<div class="col-span-2">
				<shared-progress [value]="57"></shared-progress>
			</div>
			<div class="col-span-2">
				<shared-progress [value]="98"></shared-progress>
			</div>
		</div>
	</div>
</section>
