<section class="container flex flex-col items-center px-6 mx-auto">
	<h2>{{title}}</h2>
	<div class="mx-auto relative items-center w-full px-1 py-12 mx-auto">
		<div class="grid gap-8 w-full md:grid-cols-12 grid-cols-1 mx-auto">
			<div class="col-span-6">
				<div class="grid gap-4 w-full grid-cols-12 mx-auto">
					<div class="col-span-3">
						<img class="object-cover object-center mb-8 rounded-xl"
							 src="../../../../assets/images/128.png" alt="blog">
					</div>
					<div class="col-span-8">
						<h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-neutral-600 lg:text-3xl">
							Short headline.</h1>
						<p class="mx-auto text-base leading-relaxed text-gray-500">Lorem ipsum dolor sit amet,
							consectetur adipisicing elit. Aliquid at dolores ea exercitationem labore laborum rem
							veniam. Debitis doloribus expedita harum labore magnam, modi, neque non pariatur, quisquam
							saepe totam?</p>

						<div class="mt-4">
							<a href="#"
							   class="inline-flex items-center mt-4 font-semibold text-blue-600 lg:mb-0 hover:text-neutral-600"
							   title="read more"> Read More » </a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-span-6">
				<div class="grid gap-4 w-full grid-cols-12 mx-auto">
					<div class="col-span-3">
						<img class="object-cover object-center mb-8 rounded-xl"
							 src="../../../../assets/images/128.png" alt="blog">
					</div>
					<div class="col-span-8">
						<h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-neutral-600 lg:text-3xl">
							Short headline.</h1>
						<p class="mx-auto text-base leading-relaxed text-gray-500">Lorem ipsum dolor sit amet,
							consectetur adipisicing elit. Aliquid at dolores ea exercitationem labore laborum rem
							veniam. Debitis doloribus expedita harum labore magnam, modi, neque non pariatur, quisquam
							saepe totam?</p>

						<div class="mt-4">
							<a href="#"
							   class="inline-flex items-center mt-4 font-semibold text-blue-600 lg:mb-0 hover:text-neutral-600"
							   title="read more"> Read More » </a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-span-6">
				<div class="grid gap-4 w-full grid-cols-12 mx-auto">
					<div class="col-span-3">
						<img class="object-cover object-center mb-8 rounded-xl"
							 src="../../../../assets/images/128.png" alt="blog">
					</div>
					<div class="col-span-8">
						<h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-neutral-600 lg:text-3xl">
							Short headline.</h1>
						<p class="mx-auto text-base leading-relaxed text-gray-500">Lorem ipsum dolor sit amet,
							consectetur adipisicing elit. Aliquid at dolores ea exercitationem labore laborum rem
							veniam. Debitis doloribus expedita harum labore magnam, modi, neque non pariatur, quisquam
							saepe totam?</p>

						<div class="mt-4">
							<a href="#"
							   class="inline-flex items-center mt-4 font-semibold text-blue-600 lg:mb-0 hover:text-neutral-600"
							   title="read more"> Read More » </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
