<div class="container py-6 mx-auto portfolio">
	<div class="grid gap-6 grid-cols-12">
		<div class="md:col-span-4"></div>
		<div class="col-span-full md:col-span-5">
			<h1>Editar un elemento</h1>
			<form class="" [formGroup]="formGroup" (ngSubmit)="onClickSubmit($event)">
				<div>
					<div *ngIf="this.experiences">
						<p>Cargo</p>
						<mat-form-field appearance="fill">
							<mat-label>Cargo</mat-label>
							<input matInput formControlName="cargo" />
						</mat-form-field>
						<p>Tipo de empleo</p>
						<mat-form-field appearance="fill">
							<mat-label>Selecciona una opción</mat-label>
							<mat-select formControlName="tipoDeEmpleo">
								<mat-option value="jornadaCompleta">Jornada completa</mat-option>
								<mat-option value="jornadaParcial">Jornada parcial</mat-option>
								<mat-option value="autonomo">Autónomo</mat-option>
								<mat-option value="independiente"
									>Profesional independiente
								</mat-option>
								<mat-option value="temporal">Contrato temporal</mat-option>
								<mat-option value="practicas">Contrato de prácticas</mat-option>
								<mat-option value="formacion">Contrato de formación</mat-option>
								<mat-option value="season">Seasonal</mat-option>
							</mat-select>
						</mat-form-field>
						<p>Nombre de la empresa</p>
						<mat-form-field appearance="fill">
							<mat-label>Nombre de la empresa</mat-label>
							<input
								matInput
								class="border border-amber-900"
								formControlName="empresa" />
						</mat-form-field>
						<p>Ubicación</p>
						<mat-form-field appearance="fill">
							<mat-label>Ubicación</mat-label>
							<input matInput formControlName="ubicacion" />
						</mat-form-field>
					</div>
					<div *ngIf="this.education">
						<p>Nombre de la institucion</p>
						<mat-form-field appearance="fill">
							<mat-label>Nombre de la institucion</mat-label>
							<input matInput formControlName="institucion" />
						</mat-form-field>
						<p>Titulo</p>
						<mat-form-field appearance="fill">
							<mat-label>Titulo</mat-label>
							<input matInput formControlName="titulo" />
						</mat-form-field>
						<p>Nombre de la carrera</p>
						<mat-form-field appearance="fill">
							<mat-label>Nombre de la carrera</mat-label>
							<input matInput formControlName="carrera" />
						</mat-form-field>
						<p>Puntaje obtenido</p>
						<mat-form-field appearance="fill">
							<mat-label>Puntaje obtenido</mat-label>
							<input matInput formControlName="puntaje" />
						</mat-form-field>
					</div>
					<p>Fecha de inicio</p>
					<mat-form-field appearance="fill">
						<mat-label>Month and Year</mat-label>
						<input matInput type="date" formControlName="inicio" />
					</mat-form-field>
					<p>Fecha de finalización</p>
					<mat-form-field appearance="fill">
						<mat-label>Fecha de inicio</mat-label>
						<input matInput type="date" formControlName="fin" />
					</mat-form-field>
				</div>
				<div>
					<button mat-button>No Thanks</button>
					<button mat-button (click)="onClickSubmit($event)">Ok</button>
				</div>
			</form>
		</div>
	</div>
</div>
