<section class="section pt-2">
	<div class="container">
		<h2>Experiencies</h2>
		<div class="columns is-multiline is-centered">
			<div class="column is-5">
				<div class="columns is-mobile">
					<div class="column is-4-desktop is-5-mobile is-3-tablet">
						<img class="image is-128x128" src="https://bulma.io/images/placeholders/256x256.png" alt="">
					</div>
					<div class="column is-7-mobile is-8-desktop ">
						<h3 class="subtitle">Something, something</h3>
						<p class="block content">Something, else, with more, stuff</p>
					</div>
				</div>
			</div>
			<div class="column is-5">
				<div class="columns is-mobile">
					<div class="column is-4-desktop is-5-mobile is-3-tablet">
						<img class="image is-128x128" src="https://bulma.io/images/placeholders/256x256.png" alt="">
					</div>
					<div class="column is-7-mobile is-8-desktop">
						<h3 class="subtitle">Something, something</h3>
						<p class="block content">Something, else, with more, stuff</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
