<div class="card">
	<div class="card-image">
		<figure class="image">
			<img
				src="assets/images/No-Branding-Header-Background-1.jpg"
				alt="Placeholder image"
			/>
		</figure>
	</div>
	<div class="card-content">
		<div class="container is-fluid is-center">
			<div class="columns">
				<div class="column is-2">
					<div
						class="media"
						style="
							margin-top: -5.5rem;
							z-index: 9999;
							position: relative;
						"
					>
						<div class="media-left">
							<figure
								class="image is-96x96"
								style="border: aliceblue 2pt solid"
							>
								<img
									src="https://bulma.io/images/placeholders/96x96.png"
									alt="Placeholder image"
								/>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="columns">
				<div class="column is-2">
					<div class="media-content is-fullwidth">
						<p class="title is-4">John Smith</p>
						<p class="subtitle is-6">@johnsmith</p>
					</div>
				</div>
				<div class="column">
					<div class="content">
						<p class="title is-4">John Smith</p>
						<p class="subtitle is-6">@johnsmith</p>
						<time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
