<div class="hero">
	<div class="">
		<div class="hero-head card-image-header">
			<img
				mat-card-image
				src="assets/images/No-Branding-Header-Background-1.jpg"
				alt="Photo of a Shiba Inu" style="margin-left: 0px !important;" />
		</div>
		<div class="hero-body p-mobile-0 mmt-6">
			<div class="columns is-multiline is-centered is-mobile">
				<div class="column is-12-desktop is-5-mobile is-12-tablet">
					<div class="image is-128x128">
						<img
							class="is-rounded"
							style="border: solid 1px greenyellow"
							src="https://bulma.io/images/placeholders/256x256.png" />
					</div>
				</div>
				<div class="column is-2-desktop is-4-mobile mt-mobile-6 is-3-tablet">
					<h2 class="subtitle is-4 mb-0">Name</h2>
					<p>@name</p>
				</div>
				<div class="column content">
					<h1>Name</h1>
					<p class="block">
						The Shiba Inu is the smallest of the six original and
						distinct spitz breeds of dog from Japan. A small, agile
						dog that copes very well with mountainous terrain, the
						Shiba Inu was originally bred for hunting.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
