<div class="">
	<div class="">
		<div class="hero-head card-image-header">
			<img
				mat-card-image
				src="assets/images/No-Branding-Header-Background-1.jpg"
				alt="Photo of a Shiba Inu" style="margin-left: 0px !important;" />
		</div>
		<div class="container flex flex-col items-center px-6 mx-auto md:-mt-18 -mt-16 lg:-mt-24">
			<div class="flex flex-wrap">
				<div class="w-full h-fit">
					<div class="">
						<img
							class="rounded-full w-3/12 md:w-2/12"
							style="border: solid 1px greenyellow"
							src="https://bulma.io/images/placeholders/256x256.png" />
					</div>
				</div>
				<div class="w-3/12 md:w-2/12 text-center">
					<h2 class="subtitle is-4 mb-0">Name</h2>
					<p>@name</p>
				</div>
				<div class="w-8/12  md:w-10/12">
					<h1>Name</h1>
					<p class="block">
						The Shiba Inu is the smallest of the six original and
						distinct spitz breeds of dog from Japan. A small, agile
						dog that copes very well with mountainous terrain, the
						Shiba Inu was originally bred for hunting.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
