<div class="container py-6 mx-auto portfolio">
	<div class="grid gap-6 grid-cols-12">
		<div class="md:col-span-4"></div>
		<div class="col-span-full md:col-span-5">
			<h1>{{ Typed }} un elemento</h1>
			<form class="" [formGroup]="formGroup" (ngSubmit)="onClickSubmit($event)">
				<div *ngIf="this.experiences.experience || this.experiences.education">
					<div *ngIf="this.experiences.experience">
						<mat-form-field appearance="fill">
							<mat-label>Cargo</mat-label>
							<input matInput formControlName="cargo" />
							<mat-error *ngIf="checkError('cargo', 'required')"
								>Cargo es requerido
							</mat-error>
							<mat-error *ngIf="checkError('cargo', 'minlength')"
								>Cargo deberia ser mayor a 4 caracteres
							</mat-error>
						</mat-form-field>
						<mat-form-field appearance="fill">
							<mat-label>Selecciona una opción</mat-label>
							<mat-select formControlName="tipoDeEmpleo" [value]="0">
								<mat-option [value]="dd.defaultValue">Selecciona uno</mat-option>
								<mat-option [value]="dd.jornadaCompleta"
									>Jornada completa
								</mat-option>
								<mat-option [value]="dd.jornadaParcial"
									>Jornada parcial
								</mat-option>
								<mat-option [value]="dd.autonomo">Autónomo</mat-option>
								<mat-option [value]="dd.independiente"
									>Profesional independiente
								</mat-option>
								<mat-option [value]="dd.temporal">Contrato temporal</mat-option>
								<mat-option [value]="dd.practicas"
									>Contrato de prácticas
								</mat-option>
								<mat-option [value]="dd.formacion"
									>Contrato de formación
								</mat-option>
								<mat-option [value]="dd.seasonal">Seasonal</mat-option>
							</mat-select>
							<mat-error *ngIf="checkError('tipoDeEmpleo', 'required')"
								>Cargo es requerido
							</mat-error>
							<mat-error *ngIf="checkError('tipoDeEmpleo', 'minlength')"
								>Cargo deberia ser mayor a 4 caracteres
							</mat-error>
						</mat-form-field>
						<p>Nombre de la empresa</p>
						<mat-form-field appearance="fill">
							<mat-label>Nombre de la empresa</mat-label>
							<input matInput formControlName="empresa" />
							<mat-error *ngIf="checkError('empresa', 'required')"
								>Nombre de la empresa es requerido
							</mat-error>
							<mat-error *ngIf="checkError('empresa', 'minlength')"
								>Nombre de la empresa deberia ser mayor a 4 caracteres
							</mat-error>
						</mat-form-field>
						<p>Ubicación</p>
						<mat-form-field appearance="fill">
							<mat-label>Ubicación</mat-label>
							<input matInput formControlName="ubicacion" />
							<mat-error *ngIf="checkError('ubicacion', 'required')"
								>Nombre de la empresa es requerido
							</mat-error>
							<mat-error *ngIf="checkError('ubicacion', 'minlength')"
								>Nombre de la empresa deberia ser mayor a 4 caracteres
							</mat-error>
						</mat-form-field>
					</div>
					<div *ngIf="this.experiences.education">
						<p>Nombre de la institucion</p>
						<mat-form-field appearance="fill">
							<mat-label>Nombre de la institucion</mat-label>
							<input matInput formControlName="institucion" />
							<mat-error *ngIf="checkError('institucion', 'required')"
								>Nombre de la empresa es requerido
							</mat-error>
							<mat-error *ngIf="checkError('institucion', 'minlength')"
								>Nombre de la empresa deberia ser mayor a 4 caracteres
							</mat-error>
						</mat-form-field>
						<p>Titulo</p>
						<mat-form-field appearance="fill">
							<mat-label>Titulo</mat-label>
							<input matInput formControlName="titulo" />
							<mat-error *ngIf="checkError('titulo', 'required')"
								>Titulo es requerido
							</mat-error>
							<mat-error *ngIf="checkError('titulo', 'minlength')"
								>Titulo deberia ser mayor a 4 caracteres
							</mat-error>
						</mat-form-field>
						<p>Nombre de la carrera</p>
						<mat-form-field appearance="fill">
							<mat-label>Nombre de la carrera</mat-label>
							<input matInput formControlName="carrera" />
							<mat-error *ngIf="checkError('carrera', 'required')"
								>Nombre de la carrera es requerido
							</mat-error>
							<mat-error *ngIf="checkError('carrera', 'minlength')"
								>Nombre de la carrera deberia ser mayor a 4 caracteres
							</mat-error>
						</mat-form-field>
						<p>Puntaje obtenido</p>
						<mat-form-field appearance="fill">
							<mat-label>Puntaje obtenido</mat-label>
							<input matInput formControlName="puntaje" />
							<mat-error *ngIf="checkError('puntaje', 'required')"
								>Puntaje obtenido es requerido
							</mat-error>
							<mat-error *ngIf="checkError('puntaje', 'minlength')"
								>Puntaje obtenido deberia ser mayor a 4 caracteres
							</mat-error>
						</mat-form-field>
					</div>
					<p>Fecha de inicio</p>
					<mat-form-field appearance="fill">
						<mat-label>Fecha de inicio</mat-label>
						<input matInput type="date" formControlName="inicio" />
						<mat-error *ngIf="checkError('inicio', 'required')"
							>Fecha de inicio es requerido
						</mat-error>
						<mat-error *ngIf="checkError('inicio', 'minlength')"
							>Fecha de inicio deberia ser mayor a 4 caracteres
						</mat-error>
					</mat-form-field>
					<p>Fecha de finalización</p>
					<mat-form-field appearance="fill">
						<mat-label>Fecha de finalización</mat-label>
						<input matInput type="date" formControlName="fin" />
						<mat-error *ngIf="checkError('fin', 'minlength')"
							>Fecha de inicio deberia ser mayor a 4 caracteres
						</mat-error>
					</mat-form-field>
				</div>
				<div *ngIf="this.experiences.softskills">
					<mat-form-field appearance="fill">
						<mat-label>Titulo</mat-label>
						<input matInput formControlName="titulo" />
						<mat-error *ngIf="checkError('titulo', 'required')"
							>Titulo es requerido
						</mat-error>
						<mat-error *ngIf="checkError('titulo', 'minlength')"
							>Titulo debería ser mayor a 4 caracteres
						</mat-error>
					</mat-form-field>
					<mat-form-field appearance="fill">
						<mat-label>Descripcion</mat-label>
						<textarea matInput formControlName="descripcion"></textarea>
						<mat-error *ngIf="checkError('descripcion', 'required')"
							>Descripcion es requerido
						</mat-error>
						<mat-error *ngIf="checkError('descripcion', 'minlength')"
							>Descripcion debería ser mayor a 4 caracteres
						</mat-error>
					</mat-form-field>
					<mat-form-field appearance="fill">
						<mat-label>Valor porcentual</mat-label>
						<input matInput formControlName="val" />
						<mat-error *ngIf="checkError('val', 'required')"
							>Valor porcentual es requerido
						</mat-error>
						<mat-error *ngIf="checkError('val', 'minlength')"
							>Valor porcentual debería ser mayor a 4 caracteres
						</mat-error>
					</mat-form-field>
				</div>

				<div *ngIf="this.experiences.projects">
					<mat-form-field appearance="fill">
						<mat-label>Titulo</mat-label>
						<input matInput formControlName="titulo" />
						<mat-error *ngIf="checkError('titulo', 'required')"
							>Titulo es requerido
						</mat-error>
						<mat-error *ngIf="checkError('titulo', 'minlength')"
							>Titulo debería ser mayor a 4 caracteres
						</mat-error>
					</mat-form-field>
					<mat-form-field appearance="fill">
						<mat-label>Descripcion</mat-label>
						<textarea matInput formControlName="descripcion"></textarea>
						<mat-error *ngIf="checkError('descripcion', 'required')"
							>Descripcion es requerido
						</mat-error>
						<mat-error *ngIf="checkError('descripcion', 'minlength')"
							>Descripcion debería ser mayor a 4 caracteres
						</mat-error>
					</mat-form-field>
					<mat-form-field appearance="fill">
						<mat-label>Imagen</mat-label>
						<input matInput formControlName="imagen" />
						<mat-error *ngIf="checkError('imagen', 'required')"
							>Imagen es requerido
						</mat-error>
						<mat-error *ngIf="checkError('imagen', 'minlength')"
							>Imagen debería ser mayor a 4 caracteres
						</mat-error>
					</mat-form-field>
				</div>
				<div>
					<button mat-button>No Thanks</button>
					<button mat-button>Ok</button>
				</div>
			</form>
		</div>
	</div>
</div>
