<section class="section pt-2">
	<div class="container">
		<h2>Soft Skills</h2>
		<div class="columns is-multiline is-centered is-mobile">
			<div class="column is-2-desktop is-5-mobile">
				<progress class="progress-circle is-success" value="40" max="100">
					<span class="progress-inner">40%</span>
				</progress>
			</div>
			<div class="column is-1-desktop is-0-mobile"></div>
			<div class="column is-2-desktop is-5-mobile">
				<div class="progress-circle is-success" value="40" max="100">
					<span class="progress-inner">40%</span>
				</div>
			</div>
			<div class="column is-1-desktok is-0-mobile"></div>
			<div class="column is-2-desktop is-5-mobile">
				<div class="progress-circle is-success" value="40" max="100">
					<span class="progress-inner">40%</span>
				</div>
			</div>
			<div class="column is-1-desktok is-0-mobile"></div>
			<div class="column is-2-desktop is-5-mobile">
				<div class="progress-circle is-success" value="40" max="100">
					<span class="progress-inner">40%</span>
				</div>
			</div>
		</div>
	</div>
</section>
