<section class="container flex flex-col items-center px-6 mx-auto">
	<h2>Projects</h2>
	<div
		class="mx-auto relative items-center w-full px-1 py-12 mx-auto">
		<div class="grid gap-8 w-full grid-cols-1 md:grid-cols-12 mx-auto">
			<div class="col-span-6 ">
				<h3>Project 1</h3>
				<img src="assets/images/No-Branding-Header-Background-1.jpg" class="image" alt="" />
				<p>Something about the project</p>
				<a mat-flat-button color="primary" routerLink="/project1">View demo</a>
			</div>
			<div class="col-span-6">
				<h3>Project 1</h3>
				<img src="assets/images/No-Branding-Header-Background-1.jpg" class="image" alt="" />
				<p>Something about the project</p>
				<a mat-flat-button color="primary" routerLink="/project1">View demo</a>
			</div>
			<div class="col-span-6">
				<h3>Project 1</h3>
				<img src="assets/images/No-Branding-Header-Background-1.jpg" class="image" alt="" />
				<p>Something about the project</p>
				<a mat-flat-button color="primary" routerLink="/project1">View demo</a>
			</div>
			<div class="col-span-2">
			</div>
		</div>
	</div>
</section>
