<div class="flex flex-nowrap">
	<div class="grow flex-initial">
		<h2 class="w-fit mb-0" [ngStyle]="{ 'margin-bottom': mb() }">
			{{ title }}
		</h2>
	</div>
	<div class="w-fit flex-initial" *ngIf="add === true">
		<a
			mat-icon-button
			color="accent"
			mat-button
			[routerLink]="['add', this.listType]"
			[state]="this.state">
			<mat-icon>add</mat-icon>
		</a>
	</div>
	<div class="w-fit flex-initial" *ngIf="edit === true">
		<a
			color="primary"
			mat-icon-button
			[routerLink]="['edit', this.listType, this.ids ?? '']"
			[state]="this.state">
			<mat-icon>edit</mat-icon>
		</a>
	</div>
	<div class="w-fit flex-initial" *ngIf="delete === true">
		<a
			mat-icon-button
			color="warn"
			mat-button
			[routerLink]="['delete', this.listType, this.ids]">
			<mat-icon>delete</mat-icon>
		</a>
	</div>
</div>
