<div class="container">
	<div class="p-3">
		<div class="grid gap-3 justify-items-center">
			<div class="md:col-span-6 col-span-12 justify-self-center">
				<h1>Login</h1>
				<form [formGroup]="loginForms" (submit)="onSubmitClick()">
					<mat-form-field appearance="fill">
						<mat-label>Ingresa tu nombre de usuario</mat-label>
						<input
							matInput
							formControlName="username"
							placeholder="michael223"
							type="text"
							required />
						<mat-error *ngIf="loginForms.controls['username'].hasError('required')"
							>Usuario es requerido
						</mat-error>
						<mat-error *ngIf="loginForms.controls['username'].hasError('minlength')"
							>Usuario es requerido
						</mat-error>
					</mat-form-field>
					<mat-form-field appearance="fill">
						<mat-label>Ingresa tu password</mat-label>
						<input
							matInput
							[type]="hide ? 'password' : 'text'"
							formControlName="password" />
						<a
							matSuffix
							(click)="hide = !hide"
							[attr.aria-label]="'Hide password'"
							[attr.aria-pressed]="hide">
							<mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
						</a>
						<mat-error *ngIf="loginForms.controls['password'].hasError('required')"
							>Contraseña es requerido
						</mat-error>
						<mat-error *ngIf="loginForms.controls['password'].hasError('minlength')"
							>Contraseña es requerido
						</mat-error>
					</mat-form-field>
					<div *ngIf="this.isError && this.error != null" class="py-2">
						<app-error-response [error]="this.error"></app-error-response>
					</div>
					<button mat-raised-button color="primary" [disabled]="loginForms.invalid">
						Enviar
						<mat-icon *ngIf="hideSpinner">
							<mat-spinner color="accent" diameter="20"></mat-spinner>
						</mat-icon>
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
