<div>
	<mat-grid-list cols="5" rowHeight="100px">
		<mat-grid-tile rowspan="5">4</mat-grid-tile>
		<mat-grid-tile colspan="3">
				<h1>Login</h1>
		</mat-grid-tile>
		<mat-grid-tile colspan="3">
			<mat-form-field appearance="fill">
				<mat-label>Enter your email</mat-label>
				<input matInput placeholder="pat@example.com" type="email" required>
			</mat-form-field>
		</mat-grid-tile>
		<mat-grid-tile colspan="3">
			<mat-form-field appearance="fill">
				<mat-label>Enter your password</mat-label>
				<input matInput [type]="hide ? 'password' : 'text'">
				<a mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
					<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				</a>
			</mat-form-field>
		</mat-grid-tile>
		<mat-grid-tile colspan="3">
			<button mat-raised-button color="primary"> Submit
				<mat-icon>
					<mat-spinner color="accent" diameter="20"></mat-spinner>
				</mat-icon>
			</button>
		</mat-grid-tile>
	</mat-grid-list>
</div>
