<nav class="navbar is-primary">
	<mat-toolbar color="primary">
		<a
			mat-raised-button
			[matMenuTriggerFor]="menu"
			class="example-icon"
			aria-label="Example icon-button with menu icon">
			<mat-icon>menu</mat-icon>
		</a>
		<mat-menu #menu="matMenu">
			<button mat-menu-item>Item 1</button>
			<button mat-menu-item>Item 2</button>
		</mat-menu>
		<a routerLink="/" mat-button>
			<span>{{ title }}</span>
		</a>
		<span class="example-spacer"></span>
		<a mat-button aria-label="Text align left" (click)="togglerGroup($event)">
			<mat-icon *ngIf="darkMode">dark_mode</mat-icon>
			<mat-icon *ngIf="!darkMode">light_mode</mat-icon>
		</a>
		<a mat-button class="favorite-icon" aria-label="Example icon-button with heart icon">
			<mat-icon>favorite</mat-icon>
		</a>
		<a mat-button aria-label="Example icon-button with share icon">
			<mat-icon>share</mat-icon>
		</a>
		<div *ngIf="auth.isAuthenticated(); else showLogin">
			<a mat-button (click)="this.auth.logout($event)">Logout</a>
		</div>
		<ng-template #showLogin>
			<div class="buttons">
				<a mat-button routerLink="/login">LOGIN</a>
			</div>
		</ng-template>
	</mat-toolbar>
</nav>
